body {
    background-color: #000;
}

.divisor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
    padding: 20px;
    background-color: #000;
}

.divisor_logotipo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.divisor_logo  {
    width: 100px;
    margin-bottom: 20px;
}

.divisor_txt {
    margin-top: 30px;
    width: 150px;
    text-align: center;
    color: #fff;
}